@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
.btn_base, .error .error__text .btn_error, .tienda_card .btn_tienda, .forms .btn_form_2, .forms .formulario .btn_form {
  background: linear-gradient(to top, #EFEAD1, white);
  width: 80px;
  height: 25px;
  margin-right: 10px;
  border: none;
  color: #3F3C3C;
  font-size: 1.2rem;
}

nav {
  margin: 10px 20px 20px 20px;
  font-size: 1.2rem;
}
@media (min-width: 400px) {
  nav {
    margin: 15px 40px 25px 30px;
  }
}
@media (min-width: 576px) {
  nav {
    margin: 20px 40px 30px 40px;
  }
}
@media (min-width: 768px) {
  nav {
    margin: 20px 20px 30px 55px;
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  nav {
    margin: 25px 30px 30px 55px;
  }
}
@media (min-width: 1200px) {
  nav {
    margin: 30px 50px 35px 95px;
    font-size: 1.5rem;
  }
}
nav .nav_logo {
  width: 100px;
}
@media (min-width: 576px) {
  nav .nav_logo {
    width: 105px;
  }
}
@media (min-width: 768px) {
  nav .nav_logo {
    width: 110px;
  }
}
@media (min-width: 992px) {
  nav .nav_logo {
    width: 120px;
  }
}
@media (min-width: 1200px) {
  nav .nav_logo {
    width: 140px;
  }
}
nav ul {
  border-left: solid 2px #E2C16F;
}
@media (min-width: 768px) {
  nav ul {
    border-left: solid 2.5px #E2C16F;
  }
}
@media (min-width: 992px) {
  nav ul {
    border-left: solid 2.8px #E2C16F;
  }
}
@media (min-width: 1200px) {
  nav ul {
    border-left: solid 3px #E2C16F;
  }
}
nav ul li a:hover {
  color: #3F3C3C;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #3F3C3C;
}

.titulo {
  margin-top: 30px;
  padding-left: 30px;
}
@media (min-width: 400px) {
  .titulo {
    margin-top: 40px;
    padding-left: 35px;
  }
}
@media (min-width: 576px) {
  .titulo {
    height: 45px;
    margin-top: 45px;
    padding-left: 45px;
  }
}
@media (min-width: 768px) {
  .titulo {
    height: 50px;
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  .titulo {
    height: 55px;
  }
}
@media (min-width: 1200px) {
  .titulo {
    height: 60px;
    margin-top: 60px;
  }
}
.titulo h2, .titulo h1 {
  font-size: 2.1rem;
  line-height: 0;
  word-spacing: 0;
  letter-spacing: 0;
  color: #3F3C3C;
  font-family: "Michroma", sans-serif;
  text-align: left;
  padding-top: 25px;
}
@media (min-width: 400px) {
  .titulo h2, .titulo h1 {
    font-size: 2.6rem;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
    padding-top: 35px;
  }
}
@media (min-width: 576px) {
  .titulo h2, .titulo h1 {
    font-size: 3.1rem;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .titulo h2, .titulo h1 {
    font-size: 3.5rem;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
    padding-top: 43px;
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .titulo h2, .titulo h1 {
    font-size: 4rem;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
    padding-top: 45px;
    padding-left: 40px;
  }
}
@media (min-width: 1200px) {
  .titulo h2, .titulo h1 {
    font-size: 5rem;
    line-height: 0;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
    padding-top: 50px;
    padding-left: 80px;
  }
}

.main_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 2px 30px 2px;
}
@media (min-width: 768px) {
  .main_index {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 30px;
  }
}
@media (min-width: 1200px) {
  .main_index {
    margin-right: 20px;
    margin-left: 60px;
    margin-bottom: 40px;
  }
}

.main_index__img {
  width: 400px;
  height: auto;
  margin-bottom: 50px;
}
@media (min-width: 400px) {
  .main_index__img {
    width: 560px;
    height: 250px;
  }
}
@media (min-width: 576px) {
  .main_index__img {
    width: 760px;
    height: 310px;
  }
}
@media (min-width: 768px) {
  .main_index__img {
    width: 1300px;
    height: auto;
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .main_index__img {
    width: 1700px;
    height: auto;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .main_index__img {
    width: 2300px;
    margin-bottom: 25px;
  }
}

.main_index__text {
  margin: 0 40px;
}
@media (min-width: 768px) {
  .main_index__text {
    margin: 30px 20px 10px 30px;
    padding-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .main_index__text {
    margin: 10px 30px 0 30px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .main_index__text {
    margin: 0 40px 0 40px;
  }
}
.main_index__text h1 {
  font-family: "Michroma", sans-serif;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
}
@media (min-width: 576px) {
  .main_index__text h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .main_index__text h1 {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .main_index__text h1 {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .main_index__text h1 {
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
.main_index__text p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
@media (min-width: 576px) {
  .main_index__text p {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .main_index__text p {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .main_index__text p {
    font-size: 1.3rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .main_index__text p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.aside_index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  background-color: #F8F5F5;
}
@media (min-width: 400px) {
  .aside_index {
    padding-top: 50px;
  }
}
@media (min-width: 576px) {
  .aside_index {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .aside_index {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .aside_index {
    padding-top: 70px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .aside_index {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
.aside_index h3 {
  font-family: "Michroma", sans-serif;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
@media (min-width: 768px) {
  .aside_index h3 {
    line-height: 3.2rem;
  }
}
@media (min-width: 992px) {
  .aside_index h3 {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .aside_index h3 {
    font-size: 1.8rem;
    line-height: 3.8rem;
  }
}
.aside_index p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2.6rem;
}
@media (min-width: 768px) {
  .aside_index p {
    font-size: 1.3rem;
    line-height: 2.6rem;
  }
}
@media (min-width: 992px) {
  .aside_index p {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .aside_index p {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
.aside_index .card {
  border: none;
  width: 250px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
@media (min-width: 400px) {
  .aside_index .card {
    width: 275px;
  }
}
@media (min-width: 576px) {
  .aside_index .card {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .aside_index .card {
    width: 220px;
  }
}
@media (min-width: 992px) {
  .aside_index .card {
    width: 260px;
  }
}
@media (min-width: 1200px) {
  .aside_index .card {
    width: 320px;
  }
}

.adorno {
  border: none;
  margin: 40px 0;
}
@media (min-width: 992px) {
  .adorno {
    margin: 50px 0;
  }
}
@media (min-width: 1200px) {
  .adorno {
    margin: 60px 0;
  }
}

.link_presup {
  background-color: #F8F5F5;
  border: none;
  width: 70%;
  margin-bottom: 80px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 576px) {
  .link_presup {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .link_presup {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .link_presup {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .link_presup {
    width: 35%;
  }
}
.link_presup p {
  font-size: 1.1rem;
  line-height: 2.5rem;
  word-spacing: 0;
  letter-spacing: 0;
  color: #3F3C3C;
  text-align: center;
}
@media (min-width: 400px) {
  .link_presup p {
    font-size: 1.3rem;
    line-height: 3rem;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
  }
}
@media (min-width: 576px) {
  .link_presup p {
    font-size: 1.4rem;
    line-height: 4rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: #3F3C3C;
  }
}
@media (min-width: 768px) {
  .link_presup p {
    font-size: 1.4rem;
    line-height: 4rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    color: #3F3C3C;
  }
}
@media (min-width: 992px) {
  .link_presup p {
    font-size: 1.5rem;
    line-height: 5rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    color: #3F3C3C;
  }
}
@media (min-width: 1200px) {
  .link_presup p {
    font-size: 1.7rem;
    line-height: 6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    color: #3F3C3C;
  }
}
.link_presup .link {
  background: linear-gradient(to top, #EFEAD1, white);
  border: none;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .link_presup .link {
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .link_presup .link {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .link_presup .link {
    margin-bottom: 25px;
  }
}
.link_presup .link a {
  font-size: 1rem;
  line-height: 2rem;
  word-spacing: 0;
  letter-spacing: 0;
  color: #3F3C3C;
  text-decoration: none;
}
.link_presup .link a:hover {
  cursor: pointer;
}
@media (min-width: 400px) {
  .link_presup .link a {
    font-size: 1.2rem;
    line-height: 3rem;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
  }
}
@media (min-width: 576px) {
  .link_presup .link a {
    font-size: 1.3rem;
    line-height: 3rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: #3F3C3C;
  }
}
@media (min-width: 768px) {
  .link_presup .link a {
    font-size: 1.3rem;
    line-height: 4rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.2rem;
    color: #3F3C3C;
  }
}
@media (min-width: 992px) {
  .link_presup .link a {
    font-size: 1.4rem;
    line-height: 5rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    color: #3F3C3C;
  }
}
@media (min-width: 1200px) {
  .link_presup .link a {
    font-size: 1.5rem;
    line-height: 6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.3rem;
    color: #3F3C3C;
  }
}

.text_taller {
  background-color: #F8F5F5;
  margin-top: 5px;
  border: none;
  padding: 45px 30px 20px 30px;
}
@media (min-width: 400px) {
  .text_taller {
    padding: 50px 50px 20px 35px;
  }
}
@media (min-width: 576px) {
  .text_taller {
    margin-top: 2px;
    padding: 60px 80px 30px 50px;
  }
}
@media (min-width: 768px) {
  .text_taller {
    margin-top: 0;
    padding: 70px 150px 40px 60px;
  }
}
@media (min-width: 992px) {
  .text_taller {
    padding: 80px 320px 60px 60px;
  }
}
@media (min-width: 1200px) {
  .text_taller {
    padding: 80px 500px 80px 100px;
  }
}
.text_taller p {
  font-size: 1.3rem;
  line-height: 2.6rem;
  word-spacing: 0;
  letter-spacing: 0;
  color: #3F3C3C;
  text-align: left;
}
@media (min-width: 992px) {
  .text_taller p {
    font-size: 1.4rem;
    line-height: 2.6rem;
    word-spacing: 0;
    letter-spacing: 0;
    color: #3F3C3C;
  }
}
@media (min-width: 1200px) {
  .text_taller p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.text_taller p a {
  text-decoration: none;
  color: #3F3C3C;
  font-weight: 600;
}
.text_taller p a:hover {
  cursor: pointer;
}

.adorno_taller {
  border: none;
  margin: 40px;
}
@media (min-width: 400px) {
  .adorno_taller {
    margin: 50px 0;
  }
}
@media (min-width: 576px) {
  .adorno_taller {
    margin: 60px 0;
  }
}
@media (min-width: 768px) {
  .adorno_taller {
    margin: 60px 0 70px 0;
  }
}
@media (min-width: 992px) {
  .adorno_taller {
    margin: 70px 0 80px 0;
  }
}
@media (min-width: 1200px) {
  .adorno_taller {
    margin: 80px 0 90px 0;
  }
}

.img_taller {
  border: none;
  padding: 40px 30px 0 30px;
}
@media (min-width: 400px) {
  .img_taller {
    padding: 50px 70px 0 70px;
  }
}
@media (min-width: 576px) {
  .img_taller {
    padding: 70px 80px 0 80px;
  }
}
@media (min-width: 768px) {
  .img_taller {
    padding: 60px 120px 0 120px;
  }
}
@media (min-width: 992px) {
  .img_taller {
    padding: 70px 140px 0 140px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .img_taller {
    padding: 80px 250px 0 250px;
  }
}

.main_ayd_text {
  background-color: #F8F5F5;
  padding: 50px 10px 20px 35px;
}
@media (min-width: 400px) {
  .main_ayd_text {
    padding: 50px 50px 30px 40px;
  }
}
@media (min-width: 576px) {
  .main_ayd_text {
    padding: 60px 100px 40px 45px;
  }
}
@media (min-width: 768px) {
  .main_ayd_text {
    padding: 60px 150px 50px 60px;
  }
}
@media (min-width: 992px) {
  .main_ayd_text {
    padding: 80px 200px 60px 60px;
  }
}
@media (min-width: 1200px) {
  .main_ayd_text {
    padding: 90px 80px 80px 100px;
  }
}
.main_ayd_text p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.6rem;
}
@media (min-width: 768px) {
  .main_ayd_text p {
    font-size: 1.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .main_ayd_text p {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .main_ayd_text p {
    font-size: 1.6rem;
    line-height: 3.8rem;
  }
}

.article_ayd {
  padding: 20px 50px;
}
@media (min-width: 400px) {
  .article_ayd {
    padding: 25px 70px;
  }
}
@media (min-width: 576px) {
  .article_ayd {
    padding: 30px 120px;
  }
}
@media (min-width: 768px) {
  .article_ayd {
    padding: 20px 15px 20px 100px;
  }
}
@media (min-width: 992px) {
  .article_ayd {
    padding: 25px 25px 25px 140px;
  }
}
@media (min-width: 1200px) {
  .article_ayd {
    padding: 30px 30px 30px 200px;
  }
}
.article_ayd img {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.article_ayd_2 {
  padding: 5px 50px;
}
@media (min-width: 400px) {
  .article_ayd_2 {
    padding: 10px 70px;
  }
}
@media (min-width: 576px) {
  .article_ayd_2 {
    padding: 10px 120px;
  }
}
@media (min-width: 768px) {
  .article_ayd_2 {
    padding: 20px 100px 10px 15px;
  }
}
@media (min-width: 992px) {
  .article_ayd_2 {
    padding: 25px 140px 25px 25px;
  }
}
@media (min-width: 1200px) {
  .article_ayd_2 {
    padding: 30px 200px 30px 30px;
  }
}
.article_ayd_2 img {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.titulo_contacto {
  background-color: #F8F5F5;
  height: 60px;
  margin-top: 2px;
}
@media (min-width: 768px) {
  .titulo_contacto {
    height: 70px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .titulo_contacto {
    height: 80px;
  }
}

.forms {
  margin: 0 0 40px 0;
  padding: 0 20px;
}
@media (min-width: 400px) {
  .forms {
    padding: 0 35px;
  }
}
@media (min-width: 576px) {
  .forms {
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .forms {
    margin: 20px 0;
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  .forms {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .forms {
    padding: 0 90px;
  }
}
.forms .formulario {
  border: none;
  padding: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .forms .formulario {
    padding: 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .forms .formulario {
    padding: 25px;
  }
}
@media (min-width: 992px) {
  .forms .formulario {
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .forms .formulario {
    padding: 40px;
  }
}
.forms .formulario h2 {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media (min-width: 576px) {
  .forms .formulario h2 {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 992px) {
  .forms .formulario h2 {
    font-size: 1.5rem;
    line-height: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .forms .formulario h2 {
    font-size: 1.6rem;
    line-height: 3.6rem;
  }
}
.forms .formulario p, .forms .formulario label {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
@media (min-width: 576px) {
  .forms .formulario p, .forms .formulario label {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}
@media (min-width: 992px) {
  .forms .formulario p, .forms .formulario label {
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  .forms .formulario p, .forms .formulario label {
    line-height: 2.8rem;
  }
}
.forms .formulario fieldset {
  margin-left: 15px;
}
@media (min-width: 992px) {
  .forms .formulario fieldset {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .forms .formulario fieldset {
    margin-left: 35px;
  }
}
.forms .formulario .btn_form {
  color: #3F3C3C;
  height: 35px;
}
@media (min-width: 768px) {
  .forms .formulario .btn_form {
    margin-top: 5px;
    width: 85px;
    height: 38px;
  }
}
@media (min-width: 992px) {
  .forms .formulario .btn_form {
    margin-right: 30px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .forms .formulario .btn_form {
    margin-right: 45px;
    margin-top: 15px;
  }
}
.forms .btn_form_2 {
  color: #3F3C3C;
  height: 35px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .forms .btn_form_2 {
    margin-top: 5px;
    width: 85px;
    height: 38px;
  }
}
@media (min-width: 992px) {
  .forms .btn_form_2 {
    margin-left: 25px;
    margin-top: 10px;
    width: 100px;
    height: 40px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .forms .btn_form_2 {
    margin-left: 35px;
    margin-top: 15px;
  }
}

.tienda {
  background-color: #F8F5F5;
  padding: 40px 45px 30px 35px;
  margin-bottom: 30px;
}
@media (min-width: 400px) {
  .tienda {
    padding: 50px 60px 50px 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 576px) {
  .tienda {
    padding: 55px 100px 55px 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .tienda {
    padding: 60px 140px 60px 65px;
  }
}
@media (min-width: 992px) {
  .tienda {
    padding: 70px 200px 70px 70px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .tienda {
    padding: 70px 200px 70px 105px;
  }
}
.tienda p {
  text-align: left;
  font-size: 1.3rem;
  line-height: 2.6rem;
}
@media (min-width: 768px) {
  .tienda p {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 992px) {
  .tienda p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
@media (min-width: 1200px) {
  .tienda p {
    font-size: 1.6rem;
    line-height: 3.6rem;
  }
}

.tienda_card {
  margin: 10px;
  background-color: #F8F5F5;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: white;
}
@media (min-width: 768px) {
  .tienda_card {
    margin: 15px;
  }
}
.tienda_card img {
  border: solid white 2px;
}
@media (min-width: 768px) {
  .tienda_card img {
    border: 2px;
  }
}
.tienda_card h2, .tienda_card p {
  text-align: center;
  font-size: 1.3rem;
  color: #3F3C3C;
}
@media (min-width: 768px) {
  .tienda_card h2, .tienda_card p {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .tienda_card h2, .tienda_card p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .tienda_card h2, .tienda_card p {
    font-size: 1.6rem;
  }
}
.tienda_card .btn_tienda {
  color: #3F3C3C;
  width: 90px;
}
@media (min-width: 768px) {
  .tienda_card .btn_tienda {
    font-size: 1.3rem;
    width: 110px;
    height: 30px;
  }
}
@media (min-width: 992px) {
  .tienda_card .btn_tienda {
    font-size: 1.4rem;
    width: 115px;
  }
}
@media (min-width: 1200px) {
  .tienda_card .btn_tienda {
    font-size: 1.5rem;
    width: 120px;
  }
}

.aside_tienda {
  margin: 50px 0;
}
@media (min-width: 400px) {
  .aside_tienda {
    margin: 55px 0;
  }
}
@media (min-width: 576px) {
  .aside_tienda {
    margin: 60px 0;
  }
}
@media (min-width: 768px) {
  .aside_tienda {
    margin: 65px 0;
  }
}
@media (min-width: 992px) {
  .aside_tienda {
    margin: 70px 0;
  }
}
@media (min-width: 1200px) {
  .aside_tienda {
    margin: 100px 0;
  }
}
.aside_tienda .aside_tienda__card {
  margin: 20px 0;
  border: none;
}
.aside_tienda .aside_tienda__card img {
  width: 50px;
  height: 50px;
  margin: 5px 5px 0 30px;
}
@media (min-width: 400px) {
  .aside_tienda .aside_tienda__card img {
    width: 60px;
    height: 60px;
    padding: 2px;
    margin: 0 0 0 50px;
  }
}
@media (min-width: 576px) {
  .aside_tienda .aside_tienda__card img {
    margin: 5px 0 0 30px;
  }
}
@media (min-width: 768px) {
  .aside_tienda .aside_tienda__card img {
    width: 55px;
    height: 55px;
    margin: 5px 0 0 15px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .aside_tienda .aside_tienda__card img {
    margin: 5px 0 0 30px;
  }
}
@media (min-width: 1200px) {
  .aside_tienda .aside_tienda__card img {
    width: 60px;
    height: 60px;
    margin-left: 50px;
  }
}
.aside_tienda .aside_tienda__card .aside_tienda__text {
  border-left: solid 1px #7a5c3c;
}
.aside_tienda .aside_tienda__card .aside_tienda__text h2 {
  color: #7a5c3c;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 5px;
}
@media (min-width: 400px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text h2 {
    padding-left: 10px;
  }
}
@media (min-width: 576px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text h2 {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text h2 {
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text h2 {
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text h2 {
    padding-left: 15px;
  }
}
.aside_tienda .aside_tienda__card .aside_tienda__text p {
  color: #7a5c3c;
  font-size: 1rem;
  padding-left: 5px;
}
@media (min-width: 400px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text p {
    padding-left: 10px;
  }
}
@media (min-width: 576px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text p {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text p {
    padding-left: 10px;
  }
}
@media (min-width: 992px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text p {
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .aside_tienda .aside_tienda__card .aside_tienda__text p {
    padding-left: 15px;
    font-size: 1.3rem;
  }
}

footer {
  background-color: #F6ECDE;
  height: auto;
  padding: 40px 0 0 30px;
}
@media (min-width: 768px) {
  footer {
    padding: 50px 0 0 30px;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 60px 0 0 30px;
  }
}
footer h3 {
  color: #696767;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-family: "Michroma", sans-serif;
}
@media (min-width: 576px) {
  footer h3 {
    font-size: 1.2rem;
    letter-spacing: none;
  }
}
@media (min-width: 768px) {
  footer h3 {
    line-height: 2.4rem;
  }
}
@media (min-width: 992px) {
  footer h3 {
    line-height: 2.6rem;
  }
}
@media (min-width: 1200px) {
  footer h3 {
    font-size: 1.3rem;
  }
}
footer .pie_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  footer .pie_icon {
    width: 20px;
    height: 20px;
    padding: 1px;
  }
}
footer p {
  color: #696767;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  footer p {
    font-size: 1.4rem;
  }
}
footer a {
  text-decoration: none;
  color: #696767;
  font-size: 1.2rem;
}
@media (min-width: 1200px) {
  footer a {
    font-size: 1.4rem;
  }
}

.copyright {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .copyright {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .copyright {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .copyright {
    margin-top: 90px;
  }
}
.copyright p {
  color: #696767;
  font-size: 1rem;
  text-align: left;
}
@media (min-width: 768px) {
  .copyright p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1200px) {
  .copyright p {
    font-size: 1.3rem;
  }
}

.error {
  border: none;
  padding: 10px;
}
@media (min-width: 400px) {
  .error {
    padding: 15px;
  }
}
@media (min-width: 576px) {
  .error {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .error {
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .error {
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  .error {
    padding: 10px;
  }
}
.error .error__text {
  padding: 5px 40px 0 40px;
  text-align: center;
  font-size: 1.5rem;
}
@media (min-width: 400px) {
  .error .error__text {
    font-size: 1.4rem;
  }
}
@media (min-width: 576px) {
  .error .error__text {
    font-size: 1.5rem;
    padding: 10px 0 0 0;
  }
}
@media (min-width: 768px) {
  .error .error__text {
    padding: 0 110px 0 0;
    text-align: left;
    font-size: 1.6rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) {
  .error .error__text {
    padding: 0 120px 0 10px;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1200px) {
  .error .error__text {
    font-size: 2.5rem;
    line-height: 5rem;
  }
}
.error .error__text h1 {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .error .error__text h1 {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .error .error__text h1 {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .error .error__text h1 {
    font-size: 2rem;
  }
}
.error .error__text a {
  text-decoration: none;
  color: #3F3C3C;
}
@media (min-width: 992px) {
  .error .error__text a {
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .error .error__text a {
    padding-top: 15px;
  }
}
.error .error__text .btn_error {
  color: #3F3C3C;
  width: 90px;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .error .error__text .btn_error {
    width: 100px;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .error .error__text .btn_error {
    width: 110px;
    height: 35px;
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .error .error__text .btn_error {
    width: 115px;
    height: 40px;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
