
.error{
	border: none;
	padding: 10px;
	@include medias(Xs){
		padding: 15px;
	}
	@include medias(Sm){
		padding: 20px;
	}
	@include medias(Md){
		padding: 10px;
	}
	@include medias(Lg){
		padding: 15px;
	}
	@include medias(Xl){
		padding: 10px;
	}
	
	.error__text{
		padding: 5px 40px 0 40px;
		text-align: $textCenter;
		font-size: $textLg;
		@include medias(Xs){
			font-size: $textMd;
		}
		@include medias(Sm){
			font-size: $textLg;
			padding: 10px 0 0 0;	
		}
		@include medias(Md){
			padding: 0 110px 0 0;
			text-align: $textLeft;
			font-size: $textXl;	
			line-height: 3rem;
		}
		@include medias(Lg){
			padding: 0 120px 0 10px;
			font-size: 2rem;	
			line-height: 3.5rem;
		}
		@include medias(Xl){
			font-size: 2.5rem;	
			line-height: 5rem;
		}
			h1{
				font-size: 1.2rem;
				@include medias(Md){
					font-size: $textSm;
				}
				@include medias(Lg){
					font-size: $textXl;
				}
				@include medias(Xl){
					font-size: 2rem;
				}
			}
			a{
				text-decoration: none;
				color: $black;
				@include medias(Lg){	
					padding-top: 10px;
				}
				@include medias(Xl){
					padding-top: 15px;
				}
				
			}
			.btn_error{
				@extend .btn_base;
				color: $black;
				width: 90px;
				font-size: $textSm;
				@include medias(Md){
					width: 100px;
					font-size: $textMd;
				}
				@include medias(Lg){
					width: 110px;
					height: 35px;
					font-size: $textLg;
				}
				@include medias(Xl){
					width: 115px;
					height: 40px;
					font-size: $textLg;
				}
	
			}

	}
}

