
.main_ayd_text{
	margin: 0 30px 30px 30px;
	@include medias(Md){
		margin: 0 40px 40px 50px;
		}
	@include medias(Lg){
		margin: 50px 50px;
		}
	@include medias(Xl){
		margin: 40px 75px;
		}
	p{
		text-align: $textLeft;
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			font-size: $textMd;
			line-height: 2.8rem;
			}
		@include medias(Lg){
			font-size: $textLg;
			line-height: 3rem;
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;
			}
	}
}

.article_ayd{
	padding: 30px 30px 5px 30px;
	@include medias(Md){
		padding: 20px 10px 20px 50px;
		}
	@include medias(Lg){
		padding: 25px 15px 25px 50px;
		}
	@include medias(Xl){
		padding: 30px 20px 30px 80px;
		}
	img{
		border: none;
		&:hover{
			transform: scale(1.1);
			cursor: pointer;
		}
	}
}


.article_ayd_2{
	padding: 10px 30px 5px 30px;
	@include medias(Md){
		padding: 20px 50px 20px 10px;
		}
	@include medias(Lg){
		padding: 25px 50px 25px 15px;
		}
	@include medias(Xl){
		padding: 30px 80px 30px 20px;
		}
	img{
		border: none;
		&:hover{
			transform: scale(1.1);
			cursor: pointer;
		}
	}
}

	
