
html{
	font-size: 62.5%;
	}

* {
	font-family: $mainFont;
	font-weight: $textRegular;
	color:$black;
	}



//barra titular 

.titulo{
	margin-top: 30px;
	padding-left: 30px;
	@include medias(Xs){
		margin-top: 40px;
		padding-left: 35px;
	}
	@include medias(Sm){
		height: 45px;
		margin-top: 45px;
		padding-left: 45px;
	}
	@include medias(Md){
		height: 50px;
		padding-left: 20px;
	}
	@include medias(Lg){
		height: 55px;	
		}
	@include medias(Xl){		
		height: 60px;
		margin-top: 60px;
	}

	h2,h1 {
		@include textoTitulo(2.1rem, 0, 0, 0, $black);
			font-family: $secFont;
			text-align: $textLeft;
			padding-top: 25px;
		@include medias(Xs){
			@include textoTitulo(2.6rem, 0, 0, 0, $black);
			padding-top: 35px;
			}
		@include medias(Sm){
			@include textoTitulo(3.1rem, 0, 0, 0, $black);	
			padding-top: 40px;
			}
		@include medias(Md){
			@include textoTitulo(3.5rem, 0, 0, 0, $black);
			padding-top: 43px;
			padding-left: 40px;
			}
		@include medias(Lg){
			@include textoTitulo(4rem, 0, 0, 0, $black);
			padding-top: 45px;
			padding-left: 40px;
			}
		@include medias(Xl){
			@include textoTitulo(5rem, 0, 0, 0, $black);
			padding-top: 50px;
			padding-left: 80px;	
			}
	}
}


