
html{
	font-size: 62.5%;
	}

* {
	font-family: $mainFont;
	font-weight: $textRegular;
	color:$black;
	}


//barra titular en beige

.titulo{
	background-color: map-get($map:$paletaBeige,$key:"cuatro");
	height: 50px;
	margin-top: 30px;
	margin-bottom: 50px;
	@include medias(Md){
		height: 60px;
		}
	@include medias(Lg){
		height: 70px;
		}


	h2,h1 {
		@include textoTitulo(1.8rem, 0, 0.5rem, 0.5rem, white);
		padding-top: 25px;
		text-align: $textCenter;
		@include medias(Md){
			@include textoTitulo(2.1rem, 0, 0.6rem, 0.6rem, white);
			padding-top: 30px;
			}
		@include medias(Lg){
			@include textoTitulo(2.3rem, 0, 0.8rem, 0.8rem, white);
			padding-top: 35px;
			}
		@include medias(Xl){
			@include textoTitulo(2.5rem, 0, 1rem, 1rem, white);
			padding-top: 35px;
			}
	}
}


