
.formulario{
	border: solid 1px $colorBeige;
	width: 80%;
	padding: 20px;
	margin: 5px;
	@media (min-width: 768px){
		padding: 25px;
		margin: 10px;
		}
	@media (min-width: 1024px){
		padding: 30px;
		margin: 15px;
		}
	@media (min-width: 1200px){
		padding: 40px;
		margin: 40px;
		}
	h2{
		text-align: $textJust;
		font-size: $textMd;
		line-height: 2rem;
		@media (min-width: 1024px){
			font-size: $textLg;
			line-height: 3.2rem;
			}
		@media (min-width: 1200px){
			font-size: $textXl;
			line-height: 3.6rem;
			}
	}
	p, label{
		text-align: $textJust;
		font-size: $textSm;
		line-height: 2rem;
		@media (min-width: 1024px){
			font-size: $textMd;
			line-height: 2rem;
			}
		@media (min-width: 1200px){
			font-size: $textLg;
			line-height: 3.2rem;
			}
	}
	fieldset{
		margin-left: 15px;
		@media (min-width: 1024px){
			margin-left: 25px;
			}
		@media (min-width: 1200px){
			margin-left: 35px;
			}
	}
	.btn_form{
		margin-left: 15px;
		background: linear-gradient(to top, $colorGris, white);
		color: gray;
		@media (min-width: 1024px){
			margin-left: 25px;
			margin-top: 10px;
			width: 80px;
			font-size: 1.2rem;
			}
		@media (min-width: 1200px){
			margin-left: 35px;
			margin-top: 15px;
			width: 90px;
			font-size: 1.3rem;
			}
	}		
}



