
.titulo_contacto{
	background-color: $blanco;
	height: 60px;
	margin-top: 2px;
	@include medias(Md){
		height: 70px;
		margin-top: 0;
	}
	@include medias(Xl){
		height: 80px;
	}
}

.forms{
	margin: 0 0 40px 0;
	padding: 0 20px; 
	@include medias(Xs){
		padding: 0 35px; 
	}
	@include medias(Sm){
		padding: 0 50px; 
	}
	@include medias(Md){
		margin: 20px 0;
		padding: 0 40px;
	}
	@include medias(Lg){
		padding: 0 60px;
	}
	@include medias(Xl){
		padding: 0 90px;
	}

	.formulario{
		border:none;
		padding: 30px;
		box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
		margin-bottom: 20px;
		@include medias(Sm){
			padding: 40px;
			margin-bottom: 30px;
		}
		@include medias(Md){	
			padding: 25px;
		}
		@include medias(Lg){
			padding: 30px;
		}
		@include medias(Xl){
			padding: 40px;
		}
		h2{
			text-align: $textJust;
			font-size: $textSm;
			line-height: 1.8rem;
			@include medias(Sm){
				font-size: $textMd;
				line-height: 2.5rem;
			}
			@include medias(Lg){
				font-size: $textLg;
				line-height: 3.2rem;
			}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3.6rem;
			}
		}
		p, label{
			text-align: $textJust;
			font-size: 1.2rem;
			line-height: 1.8rem;
			@include medias(Sm){
				font-size: $textSm;
				line-height: 2rem;
			}
			@include medias(Lg){
				line-height: 2rem;
			}
			@include medias(Xl){
				line-height: 2.8rem;
			}
		}
		fieldset{
			margin-left: 15px;
			@include medias(Lg){
				margin-left: 25px;
			}
			@include medias(Xl){
				margin-left: 35px;
			}
		}
		.btn_form{
			@extend .btn_base;
			color: $black;
			height: 35px;
			@include medias(Md){
				margin-top: 5px;
				width: 85px;
				height: 38px;
			}
			@include medias(Lg){
				margin-right: 30px;
				margin-top: 10px;
				width: 100px;
				height: 40px;
				font-size: $textSm;
			}
			@include medias(Xl){	
				margin-right: 45px;
				margin-top: 15px;
			}
		}		
	}

	.btn_form_2{
		@extend .btn_base;
		color: $black;
		height: 35px;
		margin-left: 15px;
		@include medias(Md){
			margin-top: 5px;
			width: 85px;
			height: 38px;
		}
		@include medias(Lg){
			margin-left: 25px;
			margin-top: 10px;
			width: 100px;
			height: 40px;
			font-size: $textSm;
		}
		@include medias(Xl){
			margin-left: 35px;
			margin-top: 15px;
		}
	}		
}

