
.formulario{
	border: solid 1px $colorBeige;
	width: 80%;
	padding: 20px;
	margin: 5px;
	@include medias(Md){
		padding: 25px;
		margin: 10px;
		}
	@include medias(Lg){
		padding: 30px;
		margin: 15px;
		}
	@include medias(Xl){
		padding: 40px;
		margin: 40px;
		}
	h2{
		text-align: $textJust;
		font-size: $textMd;
		line-height: 2rem;
		@include medias(Lg){
			font-size: $textLg;
			line-height: 3.2rem;
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.6rem;
			}
	}
	p, label{
		text-align: $textJust;
		font-size: $textSm;
		line-height: 2rem;
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2rem;
			}
		@include medias(Xl){
			font-size: $textLg;
			line-height: 3.2rem;
			}
	}
	fieldset{
		margin-left: 15px;
		@include medias(Lg){
			margin-left: 25px;
			}
		@include medias(Xl){
			margin-left: 35px;
			}
	}
	.btn_form{
		@extend .btn_base;
		color: gray;
		@include medias(Md){
			margin-top: 5px;
			width: 85px;
			height: 30px;
			}
		@include medias(Lg){
			margin-right: 30px;
			margin-top: 10px;
			width: 100px;
			height: 35px;
			font-size: $textSm;
			}
		@include medias(Xl){	
			margin-right: 45px;
			margin-top: 15px;
			}
	}		
}

.btn_form_2{
		@extend .btn_base;
		color: gray;
		margin-left: 15px;
		@include medias(Md){
			margin-top: 5px;
			width: 85px;
			height: 30px;
			}
		@include medias(Lg){
			margin-left: 25px;
			margin-top: 10px;
			width: 100px;
			height: 35px;
			font-size: $textSm;
			}
		@include medias(Xl){
			margin-left: 35px;
			margin-top: 15px;
			}
	}		



