
footer{
	background-color: $colorGris;
	height: auto;
	margin-top: 40px;
	padding: 40px 10px;
	@include medias(Md){
		margin-top: 50px;
		padding-top: 30px;
		}
	@include medias(Lg){
		margin-top: 60px;
		}
	@include medias(Xl){
		margin-top: 80px;
		}
	h5{
		font-size: $textSm;
		@include medias(Md){
			line-height: 2.4rem
			}
		@include medias(Lg){
			line-height: 2.6rem
			}
	}
	.pie_icon{
		width: 15px;
		height: 15px;
		margin-right: 5px;
		@include medias(Md){
			width: 20px;
			height: 20px;
			padding: 1px;
			}
	}
	p{
		font-size: $textSm;
	}
	a{
		text-decoration: none;
		color: $black;
		font-size: $textSm;
	}
}	

	