
footer{
	background-color: map-get($map:$paleta,$key:"catorce");
	height: auto;
	padding: 40px 0 0 30px;
	@include medias(Md){	
		padding: 50px 0 0 30px;
		}
	@include medias(Xl){
		padding: 60px 0 0 30px;
	}
	h3{
		color: map-get($map:$paleta,$key:"quince");
		font-size: 1.1rem;
		letter-spacing: 0.1rem;
		font-family: $secFont;
		@include medias(Sm){
			font-size: 1.2rem;
			letter-spacing: none;
		}
		@include medias(Md){
			line-height: 2.4rem
			}
		@include medias(Lg){
			line-height: 2.6rem
			}
		@include medias(Xl){
			font-size: $textSm;
			}
	}
	.pie_icon{
		width: 15px;
		height: 15px;
		margin-right: 5px;
		@include medias(Md){
			width: 20px;
			height: 20px;
			padding: 1px;
			}
	}
	p{
		color: map-get($map:$paleta,$key:"quince");
		font-size: 1.2rem;
		@include medias(Xl){
			font-size: $textMd;
			}
	}
	a{
		text-decoration: none;
		color: map-get($map:$paleta,$key:"quince");
		font-size: 1.2rem;
		@include medias(Xl){
			font-size: $textMd;
			}
	}
}	

.copyright{
	margin-top: 30px;
	@include medias(Md){
		margin-top: 50px;
	}
	@include medias(Lg){
		margin-top: 70px;
	}
	@include medias(Xl){
		margin-top: 90px;
	}
	p{
		color: map-get($map:$paleta,$key:"quince");
		font-size: 1rem;
		text-align: $textLeft;
		@include medias(Md){
		font-size: 1.1rem;
		}
		@include medias(Xl){
		font-size: 1.3rem;
		}
	}
}	


