
.main_index{
	@include d-flex(column, center, center);
	background-color: white;
	margin: 5px 0 40px 0;
	@include medias(Md){
		@include d-flex(row-reverse, center, center);
		margin-bottom: 5px;	
		}
	@include medias(Lg){
		margin-bottom: 20px;
		}
	@include medias(Xl){
		margin-bottom: 30px;
		}
}

	.main_index__img{
		width: 400px;
		height: auto;
		margin-bottom: 50px;
		@include medias(Md){
			width: 1600px;
			height: auto;
			}
		@include medias(Xl){
			width: 1700px;
			}
	}

	.main_index__text{
		margin: 0 40px;
		@include medias(Md){
			margin-bottom: 40px;
			margin-right: 20px;
			}
		@include medias(Lg){
			margin: 0 20px 0 55px;
			padding-bottom: 40px;
			}
		@include medias(Xl){
			margin: 0 20px 0 80px;
			}
		h1{
			text-align: $textLeft;
			font-size: $textSm;
			font-weight: $textBold;
			line-height: 2.4rem;
			@include medias(Lg){
				font-size: $textLg;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3rem;
				}
		}
		p{
			text-align: $textLeft;
			font-size: $textSm;
			line-height: 2.4rem;
			@include medias(Lg){
				font-size: $textLg;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3rem;
				}
		}
				
	}

.aside_index{
	@include d-flex(column, center, center);
	@include medias(Md){
		@include d-flex(row, space-around, stretch);
		padding-top: 20px;
		padding-bottom: 20px;
		}
	@include medias(Lg){
		padding-top: 20px;
		padding-bottom: 20px;
		}
	@include medias(Xl){
		padding-top: 30px;
		padding-bottom: 30px;
		}
	h3{
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			line-height: 2.2rem;
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2.8rem;
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;
			}
	}
	p{
		text-align: $textJust;
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			font-size: 1.2rem;
			line-height: 2.2rem;	
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2.8rem;	
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;	
			}
	}
	.card{
		width: 250px;
		margin-bottom: 40px;
		@include medias(Md){
			width: 200px;
			}
		@include medias(Lg){
			width: 260px;
			}
		@include medias(Xl){
			width: 320px;
			}
	}
}


.card_presup{
	background-color: map-get($map:$paletaBeige,$key:"cuatro");
	margin-bottom: 40px;
	width: 240px;
	height: 120px;
	border: none;
	text-align: $textCenter;
	@include medias(Md){
		width: 300px;
		height: 150px;
		margin-bottom: 50px;
		padding-top: 20px;
		}
	@include medias(Lg){
		width: 360px;
		height: 180px;
		margin-bottom: 60px;
		padding-top: 30px;
		}
	@include medias(Xl){
		width: 420px;
		height: 210px;
		margin-bottom: 70px;
		padding-top: 40px;
		}
	p{
		color: white;
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 2.6rem;
		padding: 10px 0;
		@include medias(Md){
			font-size: $textSm;
			line-height: 3rem;
			padding: 0 0 10px 0;
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 3.2rem;
			padding: 0 0 10px 0;
			}
		@include medias(Xl){
			font-size: $textLg;
			line-height: 3.6rem;
			}
	}
	a{
		text-decoration: none;
		color: white;
		font-size:1.2rem;
		padding: 10px;
		border: solid white 1px;
		@include medias(Md){
			font-size: $textSm;
			padding: 15px;
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 3.2rem;
			border: solid white 1.5px;
			}
		@include medias(Xl){
			font-size: $textLg;
			line-height: 3.8rem;
			}
	}
}

	

	