
.main_index{
	@include d-flex(column, center, center);
	margin: 5px 2px 30px 2px;
	@include medias(Md){
		@include d-flex(row-reverse, center, center);
		margin: 0 10px 0 30px;
		}
	@include medias(Xl){
		margin-right: 20px;
		margin-left: 60px;
		margin-bottom: 40px;
		}
}

	.main_index__img{
		width: 400px;
		height: auto;
		margin-bottom: 50px;
		@include medias(Xs){
		width: 560px;
		height: 250px;
		}
		@include medias(Sm){
		width: 760px;
		height: 310px;
		}
		@include medias(Md){
			width: 1300px;
			height: auto;
			margin-bottom: 10px;	
			}
		@include medias(Lg){
			width: 1700px;
			height: auto;
			margin-bottom: 15px;
		}
		@include medias(Xl){
			width: 2300px;
			margin-bottom: 25px;
			}
	}

	.main_index__text{
		margin: 0 40px;
		@include medias(Md){
			margin: 30px 20px 10px 30px;
			padding-bottom: 15px;	
			}
		@include medias(Lg){
			margin: 10px 30px 0 30px;
			padding-bottom: 20px;
			}
		@include medias(Xl){
			margin: 0 40px 0 40px;
			}
		h1{
			font-family: $secFont;
			text-align: $textLeft;
			font-size: $textMd;
			font-weight: $textBold;
			line-height: 2.4rem;
			@include medias(Sm){
				font-size: $textLg;
			}
			@include medias(Md){
				font-size: $textMd;
			}
			@include medias(Lg){
				font-size: $textMd;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3rem;
				}
		}
		p{
			text-align: $textLeft;
			font-size: $textSm;
			line-height: 2.4rem;
			@include medias(Sm){
				font-size: $textMd;
			}
			@include medias(Md){
				font-size: 1.2rem;
			}
			@include medias(Lg){
				font-size: $textSm;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textLg;
				line-height: 3rem;
				}
		}
				
	}

.aside_index{
	@include d-flex(column, center, center);
	padding-top: 55px;
	background-color: $blanco;
	@include medias(Xs){
		padding-top: 50px
	}
	@include medias(Sm){
		padding-top: 60px
	}
	@include medias(Md){
		@include d-flex(row, space-around, stretch);
		padding-top: 60px;
		padding-bottom: 20px;
		}
	@include medias(Lg){
		padding-top: 70px;
		padding-bottom: 20px;
		}
	@include medias(Xl){
		padding-top: 100px;
		padding-bottom: 30px;
		}
	h3{
		font-family: $secFont;
		font-size: $textMd;
		line-height: 2.8rem;
		@include medias(Md){
			line-height: 3.2rem;
			}
		@include medias(Lg){
			font-size: $textLg;
			line-height: 3.5rem;
			}
		@include medias(Xl){
			font-size: 1.8rem;
			line-height: 3.8rem;
			}
	}
	p{
		text-align: $textJust;
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			font-size: $textSm;
			line-height: 2.6rem;	
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2.8rem;	
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;	
			}
	}
	.card{
		border: none;
		width: 250px;
		margin-bottom: 40px;
		box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
		@include medias(Xs){
			width: 275px;
		}
		@include medias(Sm){
			width: 300px;
		}
		@include medias(Md){
			width: 220px;
			}
		@include medias(Lg){
			width: 260px;
			}
		@include medias(Xl){
			width: 320px;
			}
	}
}

.adorno{
	border: none;
	margin: 40px 0;
	@include medias(Lg){
		margin: 50px 0;
	}
	@include medias(Xl){
		margin: 60px 0;
	}
}


.link_presup{
	background-color: $blanco;
	border: none;
	width: 70%;
	margin-bottom: 80px;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
	@include medias(Sm){
		width: 60%;
	}
	@include medias(Md){
		width: 50%;
	}
	@include medias(Lg){
		width: 40%;
	}
	@include medias(Xl){
		width: 35%;
	}
	p{
		@include textoTitulo(1.1rem, 2.5rem, 0, 0, $black);
		text-align: $textCenter;
		@include medias(Xs){
			@include textoTitulo($textSm, 3rem, 0, 0, $black);
		}
		@include medias(Sm){
			@include textoTitulo($textMd, 4rem, 0.1rem, 0.1rem, $black);
		}
		@include medias(Md){
			@include textoTitulo($textMd, 4rem, 0.2rem, 0.2rem, $black);
		}
		@include medias(Lg){
			@include textoTitulo($textLg, 5rem, 0.3rem, 0.3rem, $black);
		}
		@include medias(Xl){
			@include textoTitulo(1.7rem, 6rem, 0.3rem, 0.3rem, $black);
		}
	}

	.link{
		background: linear-gradient(to top, $colorGris, white);
		border: none;
		border-radius: 3px;
		text-align: $textCenter;
		margin-bottom: 5px;
		box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
		@include medias(Md){
			margin-bottom: 15px;
		}
		@include medias(Lg){
			margin-bottom: 20px;
		}
		@include medias(Xl){
			margin-bottom: 25px;
		}
		a{
			@include textoTitulo(1rem, 2rem, 0, 0, $black);
			text-decoration: none;
			&:hover{
				cursor: pointer;
			}
			@include medias(Xs){
			@include textoTitulo(1.2rem, 3rem, 0, 0, $black);
			}
			@include medias(Sm){
			@include textoTitulo($textSm, 3rem, 0.1rem, 0.1rem, $black);
			}
			@include medias(Md){
			@include textoTitulo($textSm, 4rem, 0.2rem, 0.2rem, $black);
			}
			@include medias(Lg){
			@include textoTitulo($textMd, 5rem, 0.3rem, 0.3rem, $black);
			}
			@include medias(Xl){
			@include textoTitulo($textLg, 6rem, 0.3rem, 0.3rem, $black);
			}
		}
	}
}



