
.main_index{
	@include d-flex(column, center, center);
	background-color: white;
	margin: 5px 2px 40px 2px;
	@include medias(Md){
		@include d-flex(row-reverse, center, center);
		margin: 0 2px 0 2px;
		border-top: solid 1.9px black;
		}
	@include medias(Lg){
		border-top: solid 2px black;
		}
	@include medias(Xl){
		margin-bottom: 50px;
		border-top: solid 2.5px black;
		}
}

	.main_index__img{
		width: 400px;
		height: auto;
		margin-bottom: 50px;
		@include medias(Sm){
		width: 600px;
		}
		@include medias(Md){
			width: 2000px;
			height: 345px;
			margin-bottom: 20px;
			}
		@include medias(Lg){
			width: 1700px;
			height: auto;
		}
		@include medias(Xl){
			width: 2400px;
			}
	}

	.main_index__text{
		margin: 0 40px;
		@include medias(Md){
			margin: 5px 20px 10px 40px;	
			}
		@include medias(Lg){
			margin: 0 20px 0 55px;
			padding-bottom: 10px;
			}
		@include medias(Xl){
			margin: 0 20px 0 80px;
			}
		h1{
			text-align: $textLeft;
			font-size: $textSm;
			font-weight: $textBold;
			line-height: 2.4rem;
			@include medias(Md){
				font-size: $textSm;
				line-height: 2.4rem;
			}
			@include medias(Lg){
				font-size: $textLg;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3rem;
				}
		}
		p{
			text-align: $textLeft;
			font-size: $textSm;
			line-height: 2.4rem;
			@include medias(Md){
				font-size: $textSm;
				line-height: 2.4rem;
				}
			@include medias(Lg){
				font-size: $textLg;
				line-height: 2.8rem;
				}
			@include medias(Xl){
				font-size: $textXl;
				line-height: 3rem;
				}
		}
				
	}

.aside_index{
	@include d-flex(column, center, center);
	padding-top: 40px;
	@include medias(Sm){
		padding-top: 50px
	}
	@include medias(Md){
		@include d-flex(row, space-around, stretch);
		padding-top: 50px;
		padding-bottom: 20px;
		}
	@include medias(Lg){
		padding-top: 60px;
		padding-bottom: 20px;
		}
	@include medias(Xl){
		padding-top: 100px;
		padding-bottom: 30px;
		}
	h3{
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			line-height: 2.2rem;
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2.8rem;
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;
			}
	}
	p{
		text-align: $textJust;
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			font-size: 1.2rem;
			line-height: 2.2rem;	
			}
		@include medias(Lg){
			font-size: $textMd;
			line-height: 2.8rem;	
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.2rem;	
			}
	}
	.card{
		width: 250px;
		margin-bottom: 40px;
		@include medias(Sm){
			width: 300px;
		}
		@include medias(Md){
			width: 200px;
			}
		@include medias(Lg){
			width: 260px;
			}
		@include medias(Xl){
			width: 320px;
			}
	}
}

.adorno{
	border: none;
	margin-bottom: 40px;
}


.link_presup{
	border: solid 1px black;
	width: 70%;
	margin-bottom: 80px;
	@media (min-width: 576px) and (max-width: 767px){
	width: 50%;
	}
	@include medias(Md){
		width: 50%;
	}
	@include medias(Lg){
		width: 40%;
	}
	@include medias(Xl){
		width: 35%;
	}
	p{
		@include textoTitulo(1.2rem, 4rem, 0.1rem, 0.1rem, $black);
		text-align: $textCenter;
		@include medias(Md){
			@include textoTitulo($textSm, 4rem, 0.2rem, 0.2rem, $black);
		}
		@include medias(Lg){
			@include textoTitulo($textMd, 5rem, 0.3rem, 0.3rem, $black);
		}
		@include medias(Xl){
			@include textoTitulo($textLg, 6rem, 0.3rem, 0.3rem, $black);
		}
	}

	.link{
		border: solid 1px black;
		text-align: $textCenter;
		margin-bottom: 10px;
		@include medias(Md){
			margin-bottom: 15px;
		}
		@include medias(Lg){
			margin-bottom: 20px;
		}
		@include medias(Xl){
			margin-bottom: 25px;
		}
		a{
			@include textoTitulo(1.2rem, 2rem, 0.1rem, 0.1rem, $black);
			text-decoration: none;
			&:hover{
				cursor: pointer;
			}
			@include medias(Md){
			@include textoTitulo(1.2rem, 4rem, 0.2rem, 0.2rem, $black);
			}
			@include medias(Lg){
			@include textoTitulo($textSm, 5rem, 0.3rem, 0.3rem, $black);
			}
			@include medias(Xl){
			@include textoTitulo($textMd, 6rem, 0.3rem, 0.3rem, $black);
			}
		}
	}
}



