
nav{
	background-color: white;
	margin: 10px 10px 10px 30px;
	@include medias(Md){
		margin: 20px 10px 20px 30px;
		font-size: $textMd;
		}
	@include medias(Lg){
		margin: 20px 15px 20px 50px;
		}
	@include medias(Xl){
		margin: 25px 30px 25px 75px;
		font-size: $textLg;
		}
	ul{
		li{
			a{
				&:hover{
					color: $textBold;
				}
			}

		}
	}
}


.nav_logo{
	width: 100px;
	@include medias(Md){
		width: 105px;
		}
	@include medias(Lg){
		width: 120px;
		}
	@include medias(Xl){
		width: 140px;
		}
	}