

nav{
	margin: 10px 20px 20px 20px;
	font-size: 1.2rem;
	@include medias(Xs){
		margin: 15px 40px 25px 30px;
	}
	@include medias(Sm){
		margin: 20px 40px 30px 40px;
	}
	@include medias(Md){
		margin: 20px 20px 30px 30px;
		font-size: $textSm;
		}
	@include medias(Lg){
		margin: 25px 30px 30px 50px;
		}
	@include medias(Xl){
		margin: 30px 50px 35px 75px;	
		font-size: $textLg;
		}

	.nav_logo{
		width: 100px;
		@include medias(Sm){
			width: 105px;
			}
		@include medias(Md){
			width: 110px;
			}
		@include medias(Lg){
			width: 120px;
			}
		@include medias(Xl){
			width: 140px;
			
			}
	}

	ul{
		border-left: solid 2px map-get($map:$paleta,$key:"diez");
		@include medias(Md){
			border-left: solid 2.5px map-get($map:$paleta,$key:"diez");
		}
		@include medias(Lg){
			border-left: solid 2.8px map-get($map:$paleta,$key:"diez");
		}
		@include medias(Xl){
			border-left: solid 3px map-get($map:$paleta,$key:"diez");
		}
		li{
			a{
				&:hover{
					color: $black;
				}
			}

		}
	}
}

