
.text_taller{
	border: none;
	padding: 40px 30px 20px 30px;
	@include medias(Xs){
		padding: 50px 30px 20px 30px;
		}
	@include medias(Sm){
		padding: 60px 40px 30px 40px;
		}
	@include medias(Md){
		padding: 60px 40px 40px 40px;
		}
	@include medias(Lg){
		padding: 60px 5px 30px 50px;
		}
	@include medias(Xl){
		padding: 80px 20px 40px 75px;
		}
	p{
		@include textoTitulo($textSm, 2.6rem, 0, 0, $black);
		text-align: $textLeft;
		@include medias(Lg){
			@include textoTitulo($textMd, 2.6rem, 0, 0, $black);
		}
		@include medias(Xl){
			font-size: $textLg;
			line-height: 3rem;
			}
		a{
			text-decoration: none;
			color: $black;
			font-weight: $textBold;
			&:hover{
				cursor: pointer;
			}
		}	
	}
}

.adorno_taller{
	border: none;
	margin-bottom: 30px;
	@include medias(Lg){
		padding-top: 70px;
	}
	@include medias(Xl){
		padding-top: 80px;
	}
}


.img_taller{
	border: none;
	padding: 30px 60px 0 60px;
	@include medias(Xs){
		padding: 30px 70px 0 70px;
	}
	@include medias(Sm){
		padding: 40px 80px 0 80px;
	}
	@include medias(Md){
		padding: 50px 120px 0 120px;
		}
	@include medias(Lg){
		padding: 40px 10px 0 10px;
	}
	@include medias(Xl){
		padding: 50px 20px 0 20px;
	}
	
}





	