
.text_taller{
	border: none;
	padding: 40px;
	@include medias(Md){
		padding: 60px 40px;
		}
	@include medias(Lg){
		padding: 70px 5px 30px 50px;
		}
	@include medias(Xl){
		padding: 90px 20px 40px 75px;
		}
	p{
		@include textoTitulo($textSm, 2.6rem, 0, 0, $black);
		text-align: $textLeft;
		@include medias(Lg){
			@include textoTitulo($textMd, 2.6rem, 0, 0, $black);
		}
		@include medias(Xl){
			font-size: $textLg;
			line-height: 3rem;
			}
		a{
			text-decoration: none;
			color: $black;
			font-weight: $textBold;
			&:hover{
				cursor: pointer;
			}
		}	
	}
}

.img_taller{
	border: none;
	padding: 0 60px;
	margin-bottom: 40px;
	@include medias(Sm){
		padding: 0 80px;
	}
	@include medias(Md){
		padding: 0 120px;
		}
	@media (min-width: 820px) and (max-width: 991px){
		padding: 0 160px;
	}
	@media (min-width: 992px) and (max-width: 1023px){
		padding: 70px 5px 0 5px;
		.marco{
			border-top: solid 1.5px black;
			border-right: solid 1.5px black;
			padding: 25px;
		}
	}
	@include medias(Lg){
		padding: 80px 10px 0 10px;
		.marco{
			border-top: solid 2px black;
			border-right: solid 2px black;
			padding: 30px;
		}
	}
	@include medias(Xl){
		padding: 100px 20px 0 20px;
		}
	
}





	