
.tienda{
	background-color:white;
	padding: 15px 30px;
	@media (min-width: 768px){
		padding: 20px 50px;
		}
	@media (min-width: 1024px){
		padding: 20px 60px;
		}
	@media (min-width: 1200px){
		padding: 30px 80px;
		}
	p{
		text-align: $textLeft;
		font-size: $textSm;
		line-height: 2.6rem;
		@media (min-width: 768px){
			font-size: $textMd;
			line-height: 2.8rem;
			}
		@media (min-width: 1024px){
			font-size: $textLg;
			line-height: 3rem;
			}
		@media (min-width: 1200px){
			font-size: $textXl;
			line-height: 3.6rem;
			}
	}
}

.tienda_card{
	margin: 10px;
	background-color: $colorTienda;
	padding: 10px;
	border: white;
	@media (min-width: 768px){
		margin: 15px;
		}
	img{
		border: solid white 2px;
		@media (min-width: 768px){
			border: 2px;
			}
		&:hover{
			transform: scale(1.3);
			cursor: pointer;
		}
	}
	h5, p{
		text-align: $textCenter;
		font-size: $textSm;
		color: #3F3C3C;
		@media (min-width: 768px){
			font-size: $textMd;
			}
		@media (min-width: 1024px){
			font-size: $textLg;
			}
		@media (min-width: 1200px){
			font-size: $textXl;
			}
	}
	
}

	
.btn_tienda{
	background: linear-gradient(to top, $colorGris, white);
	color: $black;
	font-size: 1.2rem;
	width: 100px;
	@media (min-width: 768px){
		font-size: $textSm;
		width: 110px;
		}
	@media (min-width: 1024px){
		font-size: $textMd;
		width: 115px;
		}
	@media (min-width: 1200px){
		font-size: $textLg;
		width: 120px;
		}
}