
.tienda{
	padding: 10px 30px;
	@include medias(Md){
		padding: 20px 40px;
		}
	@include medias(Lg){
		padding: 20px 60px;
		}
	@include medias(Xl){
		padding: 30px 80px;
		}
	p{
		text-align: $textLeft;
		font-size: $textSm;
		line-height: 2.6rem;
		@include medias(Md){
			font-size: $textMd;
			line-height: 2.8rem;
			}
		@include medias(Lg){
			font-size: $textLg;
			line-height: 3rem;
			}
		@include medias(Xl){
			font-size: $textXl;
			line-height: 3.6rem;
			}
	}
}

.tienda_card{
	margin: 10px;
	background-color: $colorTienda;
	padding: 10px;
	border: white;
	@include medias(Md){
		margin: 15px;
		}
	img{
		border: solid white 2px;
		@include medias(Md){
			border: 2px;
			}
		&:hover{
			transform: scale(1.3);
			cursor: pointer;
		}
	}
	h5, p{
		text-align: $textCenter;
		font-size: $textSm;
		color: #3F3C3C;
		@include medias(Md){
			font-size: $textMd;
			}
		@include medias(Lg){
			font-size: $textLg;
			}
		@include medias(Xl){
			font-size: $textXl;
			}
	}
	
}

	
.btn_tienda{
	@extend .btn_base;
	color: $black;
	width: 90px;
	@include medias(Md){
		font-size: $textSm;
		width: 110px;
		height: 30px;
		}
	@include medias(Lg){
		font-size: $textMd;
		width: 115px;
		}
	@include medias(Xl){
		font-size: $textLg;
		width: 120px;
		}
}