//variables globales


//fuente
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

$mainFont:'Poppins', sans-serif;


//font sizes
$textSm:1.3rem;
$textMd:1.4rem;
$textLg:1.5rem;
$textXl:1.6rem;

//font weight
$textRegular:400;
$textLight:300;
$textBold:600;

//aligns
$textLeft:left;
$textCenter:center;
$textJust:justify;



//colors
$colorBeige:#F4E390;
$colorGris:#EFEAD1;
$colorTienda:#F2EAC3;
$black:#3F3C3C;
