//variables globales


//fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

$mainFont:'Poppins', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
$secFont: 'Michroma', sans-serif;

//font sizes
$textSm:1.3rem;
$textMd:1.4rem;
$textLg:1.5rem;
$textXl:1.6rem;

//font weight
$textRegular:400;
$textLight:300;
$textBold:600;

//aligns
$textLeft:left;
$textCenter:center;
$textJust:justify;

//colors
$colorGris:#EFEAD1;
$black:#3F3C3C;
$blanco: #F8F5F5;



//extends

.btn_base{
	background: linear-gradient(to top, $colorGris, white);
	width: 80px;
	height: 25px;
	margin-right: 10px;
	border: none;
	color: $black;
	font-size: 1.2rem;
}



//mixins

@mixin textoTitulo($fontSize, $lineHeight, $wordSpacing, $letterSpacing, $color){
	font-size: $fontSize;
	line-height: $lineHeight;
	word-spacing: $wordSpacing;
	letter-spacing: $letterSpacing;
	color:$color;
}  
	//@include textoTitulo(1.8rem, 0, 0.5rem, 0.5rem, white);


@mixin d-flex($direction, $justify, $align){
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
	//@include d-flex(column, center, center);


				//mixins breakpoints

@mixin medias($breakpoint){
	@if $breakpoint == Xs{
		@media (min-width: 400px){
			@content;
		}
	}

	@if $breakpoint == Sm{
		@media (min-width: 576px){
			@content;
		}
	}

	@if $breakpoint == Md{
		@media (min-width: 768px){
			@content;
		}
	}

	@if $breakpoint == Lg{
		@media (min-width: 992px){
			@content;
		}
	}

	@if $breakpoint == Xl{
		@media (min-width: 1200px){
			@content;
		}
	}

	@if $breakpoint == Xxl{
		@media (min-width: 1400px){
			@content;
		}
	}
}

//@include medias(Md)



//maps

$paleta:(
	"cero": #7a5c3c,
	"uno": #b08e6b,
	"dos": #d9b592,
	"tres": #766049,
	"cuatro": #BBA786,
	"cinco": #E2CEB3,
	"seis": #BDB9AE,
	"siete": #E3E3E3,
	"ocho": #7C875F,
	"nueve": #D9B777,
	"diez": #E2C16F,
	"once": #F2DE79,
	"doce": #FCC743,
	"trece": #E2DEDA,
	"catorce": #F3F2D4,
	"quince": #696767,
	"dieciseis": rgba(242,222,121,0.6),);

//map-get($map:$paleta,$key:"tres");



